
.header{
    background-color: lightgray;
}
div.list{
    background-color: lightblue;
    padding-left: 30px;
    font-size: 20px;
}
.topnav{
    background-color: lightslategray;
}
.topnav{
    float:left;
    color:black;
    text-align:center;
    padding:16px 18px;
    text-decoration: italic;
    font-size: 20px;
    background-color: olive;
}
.btn> i{
    float:right;
    background-color: DodgerBlue; 
    border: none; 
    color: white;
    padding: 12px 16px; 
    font-size: 16px; 
}
#home {
    font-size: 50px;
    text-align: center; 
    padding:50px
}
#projec{
    font-size: medium;
}
#register{
        background-color: bisque;
        border-radius: 5px;
        width: 70%;
        height:100% ;
        padding: 20px;
        margin: auto;
    }
    .row{
        width: 75%;
    }
    .col-25{
    width: 20%;
    }
    .col-75{
        width: 80%;
    }
    input[type=submit] { 
        float:right;
        background-color: rgb(90, 131, 90);
        margin-bottom: 20px;
    }
    
}